/* -- GENERAL -- */

* {
    margin: 0px;
    padding: 0px;
    border: 1px solid skyblue;
    box-sizing: border-box;
}

body, main, html {
    min-height: 100vh;
    min-width: 100vw;
}

/* -- FLEXBOX -- */

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
    flex: 1;
}


/* -- STYLING -- */

.top-buffer {
    margin-top: 10vh;
}

.bottom-buffer {
    margin-bottom: 10vh;
}