:root {
    --image-height: 100vh;
    --image-width: 100vh;
}

* {
    border: 1px solid red;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
}

.flex-container {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.single-flex {
    flex: 1;
}

.triple-flex {
    flex: 3;
}

.third {
    height: 33vh;
}

/* -- -- */

button {
    width: 100px;
    height: 50px;
}

img {
    max-height: var(--image-height);
    max-width: var(--image-width);
}


/* -- -- */

.absolute {
    position: absolute;
}

/* -- -- */

#caption {
    position: absolute;
    top: 95vh;
}